<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @blocker.session_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @blocker.user_id %>
</p>

<p>
  <strong>Blocker:</strong>
  <%= @blockers %>
</p>

<%= link_to 'Edit', edit_blocker_path(@blocker) %> |
<%= link_to 'Back', blockers_path %>
