<ul>
  <% @session_users.each do |user| %>
  <li class="session_user" data="<%= @session.id %> <%= user.id %>">
    <div class="row" id="user-row">
      <div class="col s12">
        <h5 class="valign-wrapper">
          <%= link_to  "#{user.first_name}" " " "#{user.last_name}", edit_user_path(user) %>
          <%= link_to "/sessions/#{@session.id}/removeUser", userId: user.id ,remote: true, method: :post,  data: { confirm: 'Are you sure?'} do %>
            <i class="small material-icons">delete</i>
          <% end %>
        </h5>
      </div>
      <% wip = @session_wips.find_by(user_id: user.id, session_id: @session.id) %>
      <div class="col s12 m4 item_id" id="<%= wip.id %>">
        <%= render partial:'wips/form', locals: {wip: wip} %>
      </div>
      <% completed = @session_completeds.find_by(user_id: user.id, session_id: @session.id) %>
      <div class="col s12 m4 item_id" id="<%= completed.id %>">
        <%= render partial:'completeds/form', locals: {completed: completed} %>
      </div>
      <% blocker = @session_blockers.find_by(user_id: user.id, session_id: @session.id)%>
      <div class="col s12 m4 item_id" id="<%= blocker.id %>">
        <%= render partial:'blockers/form', locals: {blocker: blocker} %>
      </div>
    </div>
  </li>
<% end %>
</ul>
