<p id="notice"><%= notice %></p>


  <strong>User:</strong>
    <% @session_users.each do |user| %>
    <ul><%= user.first_name %>
      <table>
        <thead>
          <tr>
            <th>WIPs</th>
            <th>Completeds</th>
            <th>Blockers</th>
          </tr>
        </thead>
        <tbody>
          <tr>

            <td><% @session_wips.where(user_id: user.id, session_id: @session.id).each do |wip| %>
            <ul>
            <li><%= wip.wip_item %></li>
            </ul>
            <% end %></td>

            <td><% @session_completeds.where(user_id: user.id, session_id: @session.id).each do |completed| %>
            <ul>
            <li><%= completed.completed %></li>
            </ul>
            <% end %></td>

            <td><% @session_blockers.where(user_id: user.id, session_id: @session.id).each do |blocker| %>
            <ul>
            <li><%= blocker.blocker %></li>
            </ul>
            <% end %></td>

          </tr>
        <tbody>
      </table>
    </ul>
    <% end %>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
