<div class="user" id="user-new">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-title">
          <div class="row">
            <div class="col s12 m9"><h1><%= @team.team_name %></h1></div>
            <div class="col s12 m3"><i class="material-icons large">portrait</i></div>
          </div>
        </div>
        <div class="card-content">
          <table>
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Role</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><div class="input-field"><%= user.first_name %></div></td>
                  <td><%= user.last_name %></td>
                  <%= form_for user do |u|%>
                  <td>
                    <div class="input-field col s12 m3"><%= collection_select(nil, 'options_for_user_role', User.all, :role, :role, {:prompt=>'Role'}, {:id=>'role_select'}) %></div>
                  </td>
                  <td><%= u.submit 'Save' %></td>
                  <td><%= link_to 'Edit', edit_user_path(user) %></td>
                  <td><%= link_to 'Destroy', user, method: :delete %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <div class="row center-align">
            <div class="col s12 m4">
              <%= link_to 'Back', sessions_path %>
            </div>
            <div class="col s12 m4">
            </div>
            <div class="col s12 m4">
            </div>
            <div class="col s12 m12">
              <% if current_user != nil %>
              Signed in as <%= current_user.first_name.capitalize %> | <%= link_to "Logout", '/logout' %>
              <% else %>
              <% login_path %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
