<div class="section" id="ms-login">
  <div class="row valign-wrapper">
    <div class="card">
      <div class="card-title center-align valign-wrapper" >
        <%= image_tag "sessions_logo.png", :size => "171x55", :alt => "Facebook", :title => "Facebook"%>
      </div>
      <div class="white card-content">
        <div class="row">
          <%= form_tag '/login' do %>
          <div class="col s12">
            <div class="input-field">
              <%= text_field_tag :email %>
              <label for="email" class="">Email</label>
            </div>
          </div>
          <div class="col s12">
            <div class="input-field">
              <%= password_field_tag :password %>
              <label for="password" class="">Password</label><br>
            </div>
          </div>
          <div class="col s12">
            <a class="waves-effect waves-light btn"><%= submit_tag "Enter" %></a>
          </div>
          <% end %>
        </div>
      </div>
      <div class="card-action">
        <div class="row center-align">
          <div class="col s12 m12">
            <%= link_to 'Create account', new_user_path %>
            <%= link_to "forgot password", new_password_reset_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
